    body {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        /* width: 100%; */
        height: 100%;
    }
    
    nav {
        width: 100% auto;
        background-color: #212529;
    }
    
    nav .container {
        padding: 10px;
    }
    
    nav a.navbar-brand {
        font-weight: bolder;
    }
    
    .bg-dark {
        background-color: #212529;
    }
    
    .nav-item a {
        font-weight: 900;
        transition: all 0.5s;
        color: red;
    }
    
    .nav-item a:hover {
        color: yellow;
    }
    
    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }
    
    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }
    
    #lblCartCount {
        font-size: 16px;
        background: #921d1d;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
    
    #btn-login {
        font-weight: bolder;
        width: 90px;
    }
    
    #menu {
        margin-top: 20px;
    }
    
    #menu .list-group li {
        background-color: rgb(55, 165, 12);
        border-radius: 10px;
    }
    
    #menu li {
        margin: 10px;
        transition: all 0.5s;
    }
    
    #menu a {
        color: white;
        font-weight: bold;
        transition: all 0.5s;
    }
    
    #menu li:hover {
        background-color: rgb(26, 70, 9);
    }
    
    #ourmenus {
        margin: 30px;
    }
    
    .card {
        margin-bottom: 30px;
        transition: 0.1s all;
        display: flex;
        justify-content: center;
        height: 100% !important;
    }
    
    .card h5,
    h6 {
        color: black;
    }
    
    .card:hover {
        border: 4px solid #BC0F0F;
        text-decoration: none;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
    }
    
    .footer {
        background-color: #212529;
        height: 150px auto;
        color: #FFFFFF;
    }
    
    .footer .container {
        padding: 20px;
    }
    
    .footer .title {
        font-size: x-large;
        font-weight: bold;
        font-family: 'Roboto';
        color: #FFFFFF;
    }
    
    .footer-left a {
        color: white;
        margin-right: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        transition: 0.3s all;
    }
    
    .footer-left a:hover {
        text-decoration: none;
    }
    
    .terms-conditions span a {
        color: rgb(155, 133, 133);
        transition: 0.5s all;
    }
    
    .terms-conditions span a::after {
        content: " |";
    }
    
    .terms-conditions span a:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .terms-conditions .copyright {
        color: rgb(155, 133, 133);
        transition: 0.5s all;
    }
    
    .terms-conditions .copyright:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    #menu .list-group li {
        cursor: pointer;
    }
    
    #menu .list-group li a {
        text-decoration: none;
        display: block;
    }
    
    #konten {
        display: flex;
        justify-content: center;
        padding: 10px;
        /* width: 500px; */
    }
    
    .isikonten {
        padding: 25px;
        margin: 10px 0px;
        width: 400px;
        text-align: center;
        border-bottom: 5px solid #212529;
        border-top: 5px solid #212529;
        box-shadow: rgba(162, 162, 190, 0.2) 0px 7px 29px 0px;
    }
    
    .isikonten h1 {
        font-size: 48px;
        font-weight: bolder;
        font-family: 'Roboto';
    }
    
    .isikonten .sub-title {
        font-size: 20px;
        font-family: 'Roboto';
    }
    
    .isikonten div,
    .isikonten span {
        margin-bottom: 10px;
    }
    
    #btn-login {
        width: 100px;
        transition: all 0.5s;
    }
    
    #btn-register {
        width: 150px;
        transition: all 0.5s;
    }
    
    #konten .konten-promo {
        display: block;
        padding: 10px;
        width: 1000px;
    }
    
    #konten .konten-promo img {
        margin: 10px;
        width: 100%;
    }
    
    @media (max-width: 576px) {
        .carousel-item img {
            height: 300px;
        }
        #kontenlogin {
            width: 100%;
        }
        .isikonten {
            margin: 0;
        }
    }